<!doctype html>
<html>
    <head>
        <title>LawPavilion STK: Content Generator for Regulations</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
        {{{body}}}
    </body>
</html>